 <!-- Task item: Completed -->
 <div class="field has-addons">
    <div class="control">
        <button class="button is-success has-icons-left">
            <span class="icon">
                <i class="fa-solid fa-square-check"></i>
            </span>
        </button>
    </div>
    <div class="control is-expanded">
        <input type="text" class="input has-text-centered completed" value="Quiero alcohol aaaaaaaaa" readonly>
    </div>
</div>   
<!-- End Task item: Completed -->

<!-- Task item: About to expire -->
<div class="field has-addons">
    <div class="control">
        <button class="button is-warning has-icons-left">
            <span class="icon">
                <i class="fa-solid fa-clock"></i>
            </span>
        </button>
    </div>
    <div class="control is-expanded">
        <input type="text" class="input has-text-centered" value="Quiero alcohol aaaaaaaaa" readonly>
    </div>
</div>   
<!-- Task item: About to expire -->

<!-- Task item: Pending -->
<div class="field has-addons">
    <div class="control">
        <button class="button is-light has-icons-left">
            <span class="icon">
                <i class="fa-solid fa-ellipsis"></i> 
            </span>
        </button>
    </div>
    <div class="control is-expanded">
        <input type="text" class="input has-text-centered" value="Quiero alcohol aaaaaaaaa" readonly>
    </div>
</div> 

<!-- Task item: Pending -->