<!-- TODO: Update when auth-service is ready. -->

<nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="https://to-do-cdn.microsoft.com/static-assets/c87265a87f887380a04cf21925a56539b29364b51ae53e089c3ee2b2180148c6/icons/logo.png" alt="Logo" height="28">
      </a>
      <!-- <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div> -->
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <!-- Logout Btn -->
            <p class="control">
              <a class="button is-danger is-light" href="#">
                <span class="icon">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </span>
                <span>Logout</span>
              </a>
            </p>
            <!-- End Logout Btn -->
          </div>
        </div>
      </div>
    </div>
  </nav>