<aside class="is-narrow-mobile is-fullheight section is-hidden-mobile">
    <p class="menu-label is-hidden-touch">Navigation</p>
    <ul class="menu-list">
        <!-- Create a Sidebar-item component -->
      <li>
        <a href="#" class="">
          <span class="icon"><i class="fa fa-home"></i></span> Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="is-active">
          <span class="icon"><i class="fa fa-table"></i></span> Todo
        </a>
      </li>
    </ul>
</aside>